- if answer&.id.present?
  = turbo_frame_tag answer do
    .answer-card
      = render partial: 'shared/answer_votes', locals: { answer: answer, path: {id: answer.id, question_id: answer.question_id} }
      %p.answer-body= answer.body
      - if answer.files.attached?
        - answer.files.each do |file|
          = render partial: 'shared/file', locals: { file: file.blob }
      = render partial: 'questions/answer_buttons', locals: { answer: answer, best: false }
      = turbo_frame_tag "answer-comment-form-#{answer.id}" do
        = link_to 'Comment', question_new_answer_comment_path(question_id: answer.question_id, answer_id: answer.id), class: 'btn btn-primary' 
      = render partial: 'questions/comments', locals: { comments: answer.comments }
