- if answer&.id.present?
  -# -binding.break
  -if best
    #best-answer
      %p Best answer
      %p= answer.body
      - if answer.files.attached?
        - answer.files.each do |file|
          = render partial: 'shared/file', locals: { file: file.blob }
      = render partial: 'questions/answer_buttons', locals: { answer: answer, best: true }
  - else
    =turbo_frame_tag answer do
      .answer-card
        %p= answer.body
        - if answer.files.attached?
          - answer.files.each do |file|
            = render partial: 'shared/file', locals: { file: file.blob }
        = render partial: 'questions/answer_buttons', locals: { answer: answer, best: false }
