- if answer&.id.present?
  -if best
    #best-answer
      = render partial: 'shared/votes', locals: { object: answer }
      %p Best answer
      %p= answer.body
      - if answer.files.attached?
        - answer.files.each do |file|
          = render partial: 'shared/file', locals: { file: file.blob }
      = render partial: 'questions/answer_buttons', locals: { answer: answer, best: true }
  - else
    =turbo_frame_tag answer do
      .answer-card
        = render partial: 'shared/votes', locals: { object: answer }
        %p= answer.body
        - if answer.files.attached?
          - answer.files.each do |file|
            = render partial: 'shared/file', locals: { file: file.blob }
        = render partial: 'questions/answer_buttons', locals: { answer: answer, best: false }
