#best-answer
  = render partial: 'shared/answer_votes', locals: { answer: answer }
  %p Best answer
  %p= answer.body
  - if answer.files.attached?
    - answer.files.each do |file|
      = render partial: 'shared/file', locals: { file: file.blob }
  = render partial: 'questions/answer_buttons', locals: { answer: answer, best: true, path: {id: answer.id, question_id: answer.question_id} }
  = turbo_frame_tag "answer-comment-form-#{answer.id}" do
    = link_to 'Comment', question_new_answer_comment_path(answer_id: answer.id, question_id: answer.question_id), class: 'btn btn-primary' 
