= bootstrap_form_for @question, url: questions_path, method: :POST do |f|
  = f.text_field :title
  = f.text_field :body
  .file-fields
    = f.file_field :files, multiple: true
  = f.hidden_field :user_id, value: current_user.id 
  = f.submit 'Create'
%button{ id: 'add-file-button' } Add more