%p{ class: 'user_id', id: current_user&.id }
%div{ class: 'question', id: "question_#{@question.id}" }
  = render 'subscriptions'
  %h1= @question.title
  = render 'shared/question_votes'
  %p= @question.body
  - @question.files.each do |file|
    = render partial: 'shared/file', locals: { file: file.blob }
  - if can? :edit, @question
    %p= link_to 'Edit', edit_question_path(@question), class: 'btn btn-warning'
  = render partial: 'questions/comments', locals: { comments: @question.comments }
  = turbo_frame_tag 'question-form' do
    = link_to 'Comment', question_new_comment_path(@question), class: 'btn btn-promary'
  
  = search_form_for @q, url: question_path(@question) do |f|
    = f.label 'Search for answer'
    = f.search_field :body_cont
    = f.hidden_field :question_id_eq, value: @question.id
    = f.submit
  = link_to 'Clear', question_path(@question), class: 'btn btn-primary'

%h2 Answers:
= render 'questions/empty_answer'
#best-answer-partial
  - if @question.best_answer.present?
    = render partial: 'questions/best_answer', locals: {answer: @question.best_answer }

#answers
  - @answers.each do |answer|
    - next  if answer == @question.best_answer
    - if answer.id.present?
      = render partial: 'questions/answer', locals: {answer: answer, best: false }

%h4 Create new answer 
#new-answer
  = render partial: 'questions/answer_form', locals: { answer: @answer }
