.question 
  %h1= @question.title
  %p= @question.body
  - @question.files.each do |file|
    = render partial: 'shared/file', locals: { file: file.blob }
  - if @question.user_id == current_user&.id 
    %p= link_to 'Edit', edit_question_path(@question), class: 'btn btn-warning'

%h2 Answers:
#best-answer-partial
  - if @question.best_answer.present?
    = render partial: 'questions/answer', locals: {answer: @question.best_answer, best: true  }

#answers
  - @question.answers.each do |answer|
    - next  if answer == @question.best_answer
    - if answer.id.present?
      = render partial: 'questions/answer', locals: {answer: answer, best: false }

%h4 Create new answer 
= render partial: 'answer_form', locals: { answer: @answer }
