.question 
  %h1= @question.title
  %p= @question.body
  - if @question.user_id == current_user&.id 
    = link_to 'Edit answer', edit_question_path(@question)

%h2 Answers:
#answers
  - @question.answers.each do |answer|
    = render partial: 'questions/answer', locals: {answer: answer }

%h4 Create new answer 
= render partial: 'questions/form', locals: { answer: @answer }
