!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StackoverflowPrototype
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    - flash.each do |type, msg|
      #flash-message{:class => "mt-5 alert alert-dismissible fade show #{bootstrap_class_for_flash(type)} alert-dismissable fade show"}
        = msg
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    %p.notice= notice
    %p.alert= alert
    = render 'shared/header'
    = yield
