<!DOCTYPE html>
<html>
    <head>
        <title>StackoverflowPrototype</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

    <body>
        <% flash.each do |type, msg| %>
            <div class="mt-5 alert alert-dismissible fade show <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show" id="flash-message">
                <%= msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= render 'shared/header' %>
        <%= yield %>
    </body>
</html>
